<?php echo get_included_fils();?>
<include file="./Index/Tpl/Public/default/Index_header.html" />

<!-- 主体内容-开始 -->

<div class="main clearfix" style="position:relative;">

	<div class="main-left fl xiaoxie_info" id="j-main-list">



		<!-- 详细-开始 -->

		<dl class="main-list">

			<dt>

				<a href="/user/{$user_joke.user_info.id}" target="_blank">

					<img src="{$user_joke.user_info.avatar}" alt="{$user_joke.user_info.username}">

				</a>

				<p class="user">

					<a href="/user/{$user_joke.user_info.id}" title="{$user_joke.user_info.username}">{$user_joke.user_info.username}</a>

					<!-- <a href=""></a> -->

				</p>

				<span class="title">{$user_joke.title}</span>

			</dt>

			<dd class="content">

				<php>
					if($user_joke['type'] == 4) {
						echo '<embed src="'.$user_joke['content'].'" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>';
					}else{
						echo $user_joke['content'];
					}
				</php>

			</dd>

			<!--dd class="direction clearfix">

			<if condition="$rel_joke['pre_joke_id'] gt 0">

				<a href="/xiaohua/{$rel_joke['pre_joke_id']}.html" class="fl direction-before" title="上一条"></a>

			</if>

			<if condition="$rel_joke['next_joke_id'] gt 0">

				<a href="/xiaohua/{$rel_joke['next_joke_id']}.html" class="fr direction-after" title="下一条"></a>

			</if>

			</dd-->

			

			<dd class="operation clearfix">

				<div class="operation-btn">

					<a href="javascript:void(0);" data-id="{$user_joke.id}" class="ding <if condition="($user_joke.record neq NULL) AND ($user_joke['record']['type'] eq 'good')">ding-hover</if>" title="顶">

						<div class="dingcai">

							<span></span>

							<i>{$user_joke.good_num}</i>

						</div>

					</a>

					<div class="operation-line"></div>

				</div>

				<div class="operation-btn">

					<a href="javascript:void(0);" data-id="{$user_joke.id}" class="cai <if condition="($user_joke.record neq NULL) AND ($user_joke['record']['type'] eq 'bad')">cai-hover</if>" title="踩">

						<div class="dingcai">

							<span></span>

							<i>{$user_joke.bad_num}</i>

						</div>

					</a>

					<div class="operation-line"></div>

				</div>

				<div class="operation-btn">

					<a href="javascript:void(0);" data-id="{$user_joke.id}" class="detail-comment comment" title="评论">

						<div class="dingcai"><span></span><i>{$user_joke.review_num}</i></div>

					</a>

					<div class="operation-line"></div>

				</div>

				<div class="share-box clearfix">

					<a href="javascript:void(0);" class="share" title="分享"></a>

					<ul class="share-menu clearfix">

						<li><a href="javascript:;" class="tr share-qzone"  title="分享到QQ空间" data-title="{$user_joke.title}" data-pic="<if condition="$user_joke['image'] neq ''"><if condition="$user_joke['id'] lt 1822">{$setting.site_domain}</if>{$user_joke.image}</if>" data-url="{$setting.site_domain}/xiaohua/{$user_joke.id}.html"></a></li>
						<li><a href="javascript:;" class="tr share-tqq" title="分享到腾讯微博" data-title="{$user_joke.title}" data-pic="<if condition="$user_joke['image'] neq ''"><if condition="$user_joke['id'] lt 1822">{$setting.site_domain}</if>{$user_joke.image}</if>" data-url="{$setting.site_domain}/xiaohua/{$user_joke.id}.html"></a></li>
						<li><a href="javascript:;" class="tr share-tsina" title="分享到新浪微博" data-title="{$user_joke.title}" data-pic="<if condition="$user_joke['image'] neq ''"><if condition="$user_joke['id'] lt 1822">{$setting.site_domain}</if>{$user_joke.image}</if>" data-url="{$setting.site_domain}/xiaohua/{$user_joke.id}.html"></a></li>
						<li><a href="javascript:;" class="tr share-sqq" title="分享到QQ好友" data-title="{$user_joke.title}" data-pic="<if condition="$user_joke['image'] neq ''"><if condition="$user_joke['id'] lt 1822">{$setting.site_domain}</if>{$user_joke.image}</if>" data-url="{$setting.site_domain}/xiaohua/{$user_joke.id}.html"></a></li>
						<li><a href="javascript:;" class="tr share-copy" title="复制网址" data-url="{$setting.site_domain}/xiaohua/{$user_joke.id}.html"></a></li>

					</ul>

				</div>

				

				<if condition="($user_joke.record eq NULL) OR ($user_joke['record']['award'] eq 0)">

					<a class="reward" href="javascript:void(0)" data-award="{$user_joke.award_num}" data-id="{$user_joke.id}">打赏</a>

				</if>

				<if condition="($user_joke.record neq NULL) AND ($user_joke['record']['award'] gt 0)">

					<a class="rewarded" href="javascript:void(0)">已打赏</a>

				</if>



				<if condition="($user_joke.is_package eq 1) AND ($user_joke.package_user_id eq 0)">

					<a class="buy" href="javascript:void(0)" data-id="{$user_joke.id}" data-fee="{$user_joke.package_fee}">买断</a>

				</if>

				<if condition="($user_joke.is_package eq 1) AND ($user_joke.package_user_id gt 0)">

					<div class="kepted">

						<a href="/user/{$user_joke['record']['package_info']['id']}">{$user_joke['record']['package_info']['username']}</a>

						<span>买断了Ta</span>

					</div>

				</if>



			</dd>



		</dl>

		<!-- 详细-结束 -->



		<div class="object-comment comment" id="object-comment" > 

			

			<!-- <ul class="recomment-tag" style="overflow:hidden">

				<li><a href="" target="_blank"><img src="http://static.mahua.com/www/default/img/replace_ab/ab_left_li_1.jpg?version=0.02" alt="钓鱼人的终极梦想,擒获超级大鱼" /><p>钓鱼人的终极梦想,擒获超级大鱼</p></a></li>

				<li><a href="" target="_blank"><img src="http://static.mahua.com/www/default/img/replace_ab/ab_left_li_2.jpg?version=0.02" alt="惊现！6米长史前怪鱼" /><p>惊现！6米长史前怪鱼</p></a></li>

				<li><a href="" target="_blank"><img src="http://static.mahua.com/www/default/img/replace_ab/ab_left_li_3.jpg?version=0.02" alt="岁月不饶人陪哥一起去钓鱼" /><p>岁月不饶人陪哥一起去钓鱼</p></a></li>

				<li><a href="" target="_blank"><img src="http://static.mahua.com/www/default/img/replace_ab/ab_left_li_4.jpg?version=0.02" alt="世界上钓鲶鱼最好的地方" /><p>世界上钓鲶鱼最好的地方</p></a></li>

			</ul> -->



			<div class="title" id="comment-num-data" total="0" >东吴在线评论(<span>{$user_joke.review_num}</span>条评论)</div> 

			

			<div class="comment-input"> 
				<form id="comment"> 
					<textarea name="content" id="comment-content" class="comment-input-text" title="吐槽一下吧，您的神回复将名垂青史" style="color: rgb(201, 201, 201);"></textarea> 
					<input type="hidden" name="id" id="joke_id" value="{$user_joke.id}" />
					<input type="hidden" name="at_user_id" class="at_user_id" />
					<p id="text-length" style="display:none;">0/140字</p> 
					<div> 
						<p><span>发评论，奖囧币，囧币可以换礼品哦!</span><span class="message"></span></p> 
						<input type="button" id="comment-submit" value="评论" /> 
					</div> 
				</form> 
				
			</div> 

			<if condition="review eq NULL">
			
			<ul class="comment-list" id="comment-list">

				<li class="nocomment">还没有人评论过，赶快抢沙发吧！</li>

			</ul>
			
			<else/>

			<input type="hidden" id="count" name="count" value="{$count}" >
			<div id="comment-box">
			<ul class="comment-list" id="comment-list"> 

				<volist name="review" id="val" key="k">

				<li> 

					<div class="comment-content"> 

						<a class="user_id" data-id="{$val.user_info.id}" href="/user/{$val.user_info.id}"><img src="{$val.user_info.avatar}" alt="{$val.user_info.username}" /><i></i></a> 

						<p class="comment-username"><a href="/user/{$val.user_info.id}">{$val.user_info.username}</a></p> 

						<p class="p-content">{$val.content}</p> 

					</div> 

					<div class="comment-ding"> 
						<?php $num = ($count - ((1 - 1) * 5))-($k-1); ?>
						<span>{$num} 楼</span> 

						<a href="javascript:void(0);" class="comment-ding-icon" rel="nofollow" data-id="{$val.id}">{$val.good_num}</a> 

						<a class="comment-reply" href="javascript:void(0);" rel="nofollow">回复</a> 

					</div>

				</li> 

				</volist>

			</ul>
			</div>
			<div class="page"></div>
			</if>

			<!--div class="joke-ba joke-ba-bottom clearfix">

				<if condition="$rel_joke['pre_joke_id'] gt 0">

					<a href="/xiaohua/{$rel_joke['pre_joke_id']}.html" class="joke-before" title="上一条"></a>

				</if>

				<if condition="$rel_joke['next_joke_id'] gt 0">

					<a href="/xiaohua/{$rel_joke['next_joke_id']}.html" class="joke-after" title="下一条"></a>

				</if>

			</div-->



		</div>



	</div>



	<div class="main-right fr">

	

		<include file="./Index/Tpl/Public/default/Index_tags.html" />
        <include file="./Index/Tpl/Public/default/Index_pic.html" />
		<include file="./Index/Tpl/Public/default/Index_text.html" />
		<!-- <div class="advertising" id="j-advertising">

			<div class="advertising-box">

				<a href="" target="_blank"><img src="http://static.mahua.com/www/default/img/replace_ab/ab_right_4.jpg?v=20150602" width="300" height="250"></a>

			</div>

		</div> -->

	</div>

<div id="reward" class="joke-buy-box" style="display: none; top: 0; left: 0;">

</div>


</div>

<!-- 主体内容-结束 -->

<include file="./Index/Tpl/Public/default/Index_footer.html" />
<script type="text/javascript">
seajs.use(['app','user','share','page','template'], function(App,user,share) {

	
	$(window).load(function(){
		user.jokeList(test);
	});
	
	var commentBox = $('#comment-box');
	commentBox.on('click','.comment-ding-icon',function(){
		var self = $(this),
			id = self.data('id');
		user.commentDing(self,id);
	});
	commentBox.on('click','.comment-reply',function(){
		var box = $('#comment'),
			input = $('#comment-content'),
			at_user = box.find('.at_user_id'),
			self = $(this).parents('li'),
			id = self.find('.user_id').data('id'),
			p = self.find('.p-content').text(),
			username = self.find('.comment-username a').text();
		var str = '//@'+username+' '+p+' ';
		at_user.val(id);
		input.val(str);
	});


	//分页
	var count = $('#count').val(),
		joke_id = $('#joke_id').val();
	if(count>=5){
		$('.page').pagination(count, {
			num_edge_entries: 1, //边缘页数
			num_display_entries: 4, //主体页数
			callback: view,
			items_per_page: 5, //每页显示1项
			prev_text: '前一页',
			next_text: '后一页'
		});
	};

	//评论
	var submit = $('#comment-submit'),
		form = $('#comment'),
		commentList = $('#comment-list');
	submit.click(function(){
		if(!user.isLogin()){
			user.loginDialog();
			return;
		};
		var data = form.serializeObject();
		if(!data.content || data.content.length > 2500){
			App.alert('回复内容不能为空！最大长度2500个字符！');
			return;
		};
		App.request({
			url : '/ajax/review',
			data : data,
			success : function(result){
				var re = result || {};
				if(re.err){
					$('#comment-content').val('');
					App.alert('评论成功，请耐心等待审核！');
					return;
					var obj = re.msg[0];
					var _html = '<li>\
									<div class="comment-content">\
										<a class="user_id" href="/user/'+obj.user_info.id+'" data-id="'+obj.user_info.id+'"> <img src="'+obj.user_info.avatar+'" alt="'+obj.user_info.username+'" /><i></i> </a>\
										<p class="comment-username"><a href="/user/'+obj.user_info.id+'">'+obj.user_info.username+'</a></p>\
										<p class="p-content">'+obj.content+'</p>\
									</div>\
									<div class="comment-ding">\
										<span>'+(parseInt(count)+1)+'楼</span>\
										<a href="javascript:void(0);" class="comment-ding-icon" data-id="'+obj.id+'">0</a>\
										<a class="comment-reply" href="javascript:void(0);">回复</a>\
									</div>\
							</li>';
						commentList.prepend(_html);
				}else{
					App.alert(re.msg);
				};
			}
		});
	});




	var flag = false,
		html = '<ul class="comment-list" id="comment-list">\
				<% for(var i in list) { %>\
				<li>\
					<div class="comment-content">\
						<a href="/user/<%=list[i].user_id%>"><img src="<%=list[i].user_info.avatar%>" alt="<%=list[i].user_info.username%>"><i></i></a>\
						<p class="comment-username"><a href="/user/<%=list[i].user_id%>"><%=list[i].user_info.username%></a></p>\
						<p><%=list[i].content%></p>\
					</div>\
					<div class="comment-ding">\
						<span><%=start--%> 楼</span>\
						<a href="javascript:void(0);" class="comment-ding-icon" rel="nofollow" data-id="<%=list[i].id%>"><%=list[i].good_num%></a>\
						<a class="comment-reply" href="javascript:void(0);" rel="nofollow">回复</a>\
					</div>\
				</li>\
				<% } %>\
				</ul>';
	function view(i,obj){
		if(!i && !flag) return;
		flag = true;
		App.request({
			url : '/xiaohua/getreview',
			data : {id : joke_id,p : i+1},
			success : function(result){
				var re = result || {};
				if(re.err){
					var obj = {list : re.msg};
					obj.start = count - ((i) * 5);
					commentBox.html(template.compile(html)(obj));
				}else{
					App.alert(re.msg);
				};
			}
		});

		/*
		for(var i=1; i<=5; i++){
			console.log(i + ((index - 1 ) * 5));
		};

		for(var i=1; i<=5; i++){
			console.log(7 - ((1 - 1) * 5));
		};
		var start =  10 - ((p - 1) * 5);	//起始值
		*/
	};

	$(document).on('keydown',function(e){
		var keyCode = e.keyCode,
			before = $('.direction-before'),
			after = $('.direction-after');
		if(keyCode == 37){
			if(!before.size()) return;
			location.href = before.attr('href');
		};
		if(keyCode == 39){
			if(!after.size()) return;
			location.href = after.attr('href');
		};
	});

	$('.share-qzone').click(function() {
		var data = $(this).data();
		share.shareToQzone(data.title,data.url,data.pic);
	});
	$('.share-tqq').click(function() {
		var data = $(this).data();
		share.shareToTencent(data.title,data.url,data.pic);
	});
	$('.share-tsina').click(function() {
		var data = $(this).data();
		share.shareToSina(data.title,data.url,data.pic);
	});
	$('.share-sqq').click(function() {
		var data = $(this).data();
		share.shareToFriend(data.title,data.url,data.pic);
	});

	//复制笑话网址
	$('.share-copy').click(function(){
		copy($(this).attr('data-url'));
		return false;
	});

});
</script>